mdw-workflow/assets/com/centurylink/mdw/tests/services/GetEmployee.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://mdw.centurylink.com/tests"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://mdw.centurylink.com/tests"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  
  <xsd:element name="GetEmployee">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="workstationId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="sapId" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
