mdw-workflow/assets/com/centurylink/mdw/demo/cool/CoolDoc.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://mdw.centurylink.com/demo"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://mdw.centurylink.com/demo"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  
  <xsd:element name="CoolDoc">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CoolRequired" type="xsd:string" />
        <xsd:element name="CoolOptional" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="requiredAttr" type="xsd:string" use="required" />
      <xsd:attribute name="optionalAttr" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
