mdw-workflow/assets/com/centurylink/mdw/tests/code/JaxbAsset.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://mdw.centurylink.com/tests"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://mdw.centurylink.com/tests"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  
  <xsd:element name="JaxbAsset">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequiredElement" type="xsd:string" />
        <xsd:element name="OptionalElement" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="requiredAttribute" type="xsd:string" use="required" />
      <xsd:attribute name="optionalAttribute" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
